/* start Variables */

:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.3s;
}
/* End Variables */

/* Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/* End Global Rules */
  
/* start compontants */
  
.container {
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
}

.special-heading {
    color: #ebeced ;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
    text-align: center;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px ;
    color: #797979;
    text-align: center;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
.grid-col-3 {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax( 300px , 1fr));
}

/* End compontants */


/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    /* Header logo */
.header .logo {
    width: 60px;
}
    /* header links icon */
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    height: 3px;
    background-color: #333;
    margin-bottom: 5px;
}
.header .icon span:first-child {
    width: 100%;
}
.header .icon span:nth-child(2) {
    width: 60%;
    transition: var(--main-duration);
}
.header .links:hover .icon span:nth-child(2){
    width: 100%;
}
.header .icon span:last-child {
    width: 100%;
}   
    /* header links ul */
.header .links ul {
    list-style: none;
    position: absolute;
    right: 0;
    top: calc(100% + 15px);
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    display: none;
    min-width: 200px;
    transition: var(--main-duration);
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul:before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px
}
.header .links ul li:first-child::before, 
.header .links ul li:nth-last-child(2)::before, 
.header .links ul li:last-child::before {
    display: block;
    padding: 15px;
    padding-bottom: inherit;
    color: var(--secondary-color);
    font-weight: bold ;
}
.header .links ul li:first-child::before {
    content: "Menu";
}
.header .links ul li:nth-last-child(2)::before {
    content: "About";
}
.header .links ul li:last-child::before {
    content: "Contact";
}
.header .links li a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 15px;
    transition:var(--main-duration);
    cursor: pointer;
}
.header .links li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.header .links li a:hover {
    padding-left: 25px;
}

/* End Header */

/* Start Landing  */

.landing {
    height: calc(100vh - 64px);
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.landing .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50% , -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    color: var(--main-color) ;
    font-size: 50px;    
    margin: 10px;
    font-weight: bold;
}
.landing .intro-text p {
    font-size: 40px;
    font-weight: 500;
    line-height: 32px;
    color: var(--secondary-color);
}
/* End Landing */


/* Start Features */

.features {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.features .container {
    grid-gap: 20px;
}
.features .feat {
    padding: 20px;
    text-align: center;
}
.features .feat i {
    font-size: 65px;
    color: var(--main-color);
}
.features .feat h3 {
    margin: 30px 0;
    font-weight: 800;
}
.features .feat p {
    color: #777;
    line-height: 1.8;
    /* line-height accept numbers without units */
    font-size: 17px;

}
/* End Features */

/*  Start Services */

.services {
    padding: var(--section-padding) 0;
}
.services .services-content {
    grid-gap: 40px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: var(--main-color);
    flex-basis: 60px ;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv .text h3{
    margin: 0 0 20px;
}
.services .services-content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .image {
    position: relative;
    text-align: center;
}
.services .image::before {
    position: absolute;
    content: "";
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    right: 0;
    z-index: -1;
}
.services .image img {
    width: 260px;
}
@media (max-width: 1199px ) {
    .image-column {
        display: none;
    }
}

/*  End Services */

/* Start Portfolio */
.portfolio {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    grid-gap: 40px;
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
    margin-bottom: 8px;
}
.portfolio .portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
}

/* start about */

.about {
    padding-top: var(--section-padding) ;
    padding-bottom: calc(var(--section-padding) + 60px) ;
}
.about .about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}
@media (max-width : 997px ) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    width: 250px;
    height: 375px ;
    position: relative;
}
@media (max-width : 997px ) {
    .about .about-content .image {
        margin: 0 auto 80px;
    }

}
.about .about-content .image::before {
    content: "";
    position: absolute;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    background-color: #777;
    z-index: -2;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    z-index: -1;
}
@media (max-width : 997px ) {
    .about .about-content .image::before, 
    .about .about-content .image::after {
        display: none;
    }
}

.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px); ;
}
.about .about-content .text p:first-of-type {
    font-size: 15px;
    font-weight: 800;
    line-height: 2;
    margin-bottom: 15px;
}
.about .about-content .text hr {
    display: inline-block;
    width: 50%;
    border-color: var(--main-color);

}
.about .about-content .text p:last-of-type {
    line-height: 1.6;
    color: #777;
    margin-top: 15px;
}

/* End about */

/* start contact */

.contact {
    padding: var(--section-padding) 0;
    background-color: var(--section-background);
}
.contact .info {
    text-align: center;
    padding: var(--section-padding) 0;
}
.contact .info .label {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    font-size: 35px;
    font-weight: 800;
    color: var(--main-color);
    letter-spacing: -2px;
    text-decoration: none;
    display: block;
}
@media (max-width: 767px ) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
        letter-spacing: -1.5px;
    }
}
.contact .info .social {
    display: flex;
    justify-content: center;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}
.contact .social i {
    color: var(--main-color);
    margin-left: 5px;
}

/* End contact */

/* Start about */

.footer {
    background-color: var(--secondary-color);
    padding: 30px 10px;
    font-size: 18px;
    text-align: center;
    color: white;
}
.footer span {
    color: var(--main-color);
    font-weight: bold;
}
/* End about */